asttokens
backcall
backports.functools-lru-cache
comm
contourpy
cycler
debugpy
decorator
executing
fonttools
importlib-metadata
ipykernel
ipython
jedi
joblib
jupyter_client
jupyter_core
kiwisolver
matplotlib
matplotlib-inline
nest-asyncio
networkx
numpy
packaging
pandas
parso
pexpect
pickleshare
Pillow
platformdirs
prompt-toolkit
psutil
ptyprocess
pure-eval
Pygments
pyparsing
python-dateutil
pytz
pyzmq
scikit-learn
scipy
six
stack-data
threadpoolctl
tornado
traitlets
typing_extensions
tzdata
wcwidth
zipp